@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #172b4d;
  --color-secondary: #36b37e;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  left: 0;
  right: 0;
  bottom: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

#logo-placeholder {
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

#logo-placeholder > a {
  text-decoration: none;
  color: var(--color-primary);
}

#menu-button-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
}

#heading {
  background-image: url(./media/background-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: relative;
  width: 100%;
  left: 0;
}

#main-heading {
  width: 100%;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-heading > span {
  color: var(--color-secondary);
}

#supporting-text {
  display: flex;
  width: 100%;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icon {
  list-style-type: none;
  padding: 4px;
}

#social-icons {
  padding: 1rem;
  display: flex;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#social-icons > a:hover {
  cursor: pointer;
}

#main-button {
  position: relative;
  flex: none;
  order: 2;
  flex-grow: 0;
}

main {
  background-color: #fff;
  width: 100%;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li {
  list-style-type: none;
}

#works {
  display: grid;
  grid-template-rows: 0.1fr repeat(2, 100%) 0.1fr;
  grid-template-columns: auto;
  margin: 0;
  padding: 45px 24px;
}

#works-heading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5% 15%;
}

#works-heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  width: 100%;
  color: var(--color-primary);
  padding: 0 0 45px 0;
}

#indicator {
  width: 64px;
  height: 4px;
  background-color: var(--color-secondary);
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.work {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  max-height: 100%;
}

.work-image {
  margin: 0;
  width: 100%;
}

.work-title {
  margin: 0;
  font-size: 27px;
  line-height: 39px;
  padding: 25px;
  text-align: center;
}

@media only screen and (min-width: 692px) {
  #works-heading-wrap {
    padding: 10% 5% 5%;
  }
  
  #works {
    grid-template-columns: auto auto;
    grid-gap: 0 2%;
    margin: 0;
  }
}

@media only screen and (min-width: 1092px) {
  #works {
    grid-template-columns: auto auto auto;
    padding: 45px 34px;
  }
}

@media only screen and (min-width: 1192px) {
  #works {
    padding: 45px 114px;
  }
}

.language-tags {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tag {
  background: #ebf0ee;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
}

@media only screen and (min-width: 1092px) {
  .language-tags {
    gap: 6px;
  }
}

.work-link {
  border-radius: 8px;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 5%;
}

.work-link:active {
  background-color: #2d996c;
}

.work-link:focus {
  background-color: #2d996c;
}

.work-link:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

#about-heading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  width: 100%;
  color: var(--color-primary);
}

#about {
  background-image: url(./media/about-me-desktop.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px 24px;
  gap: 10px;
  align-items: center;
}

#about-info {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#resume-link {
  border-radius: 10px;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 8%;
}

#resume-link:active {
  background-color: #2d996c;
}

#resume-link:focus {
  background-color: #2d996c;
}

#resume-link:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

@media only screen and (min-width: 692px) {
  #about-heading {
    width: 100%;
  }

  #about {
    padding: 8px 24px;
  }

  #about-info {
    width: 90%;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1092px) {
  #about-heading {
    width: 100%;
  }

  #about-info {
    width: 75%;
    font-size: 22px;
    line-height: 34px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1192px) {
  #about {
    padding: 10px 24px;
    background-size: contain;
  }

  #about-info {
    width: 70%;
    font-size: 23px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1292px) {
  #about {
    padding: 60px 24px;
    background-size: cover;
  }
}

#tech-stack {
  display: grid;
  grid-template-rows: 0.5fr repeat(3, 100%) 0.1fr;
  grid-template-columns: auto;
  grid-gap: 3%;
  padding: 45px 16px;
}

.stack {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 0 8% 0;
}

.tech-image {
  margin: 0;
  padding: 45px;
}

.tech-heading {
  margin: 0;
  font-size: 33px;
  line-height: 40px;
  padding: 35px;
  text-align: center;
}

.tech-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tech {
  background: #fff;
  color: var(--color-secondary);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

@media only screen and (min-width: 492px) {
  #tech-stack {
    margin: 3%;
  }
}

@media only screen and (min-width: 692px) {
  #tech-stack {
    padding: 45px 46px 0;
    margin: 8% 8% 0 8%;
  }
}

@media only screen and (min-width: 1092px) {
  #tech-stack {
    grid-template-columns: repeat(3, 30%);
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  .tech-list {
    width: 80%;
  }

  .tech {
    font-size: 15px;
  }

  .stack {
    height: 100%;
    padding: 8% 0 10% 0;
  }
}

@media only screen and (min-width: 1292px) {
  .tech {
    font-size: 18px;
  }
}

input,
textarea {
  font-family: inherit;
  width: 100%;
  height: 100%;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 5px;
  gap: 58px;
  position: relative;
  width: 100%;
  left: 0;
}

#form-heading {
  width: 100%;
  font-weight: 700;
  font-size: 42px;
  color: var(--color-primary);
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#form-details {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-details-lg {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5%;
}

.form-input, .form-input-sm {
  font-weight: 400;
  font-size: 15px;
  height: 48px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 95%;
  margin-bottom: 1rem;
}

.form-input-lg {
  font-weight: 400;
  font-size: 15px;
  height: 48px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 45%;
  margin-bottom: 1rem;
}

.form-textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
  width: 95%;
}

textarea {
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

#form-button {
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  width: 35%;
}

#form-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

#form-button:active {
  background-color: #2d996c;
}

#form-button:focus {
  background-color: #2d996c;
}

@media only screen and (min-width: 792px) {
  #contact-form {
    flex-direction: row;
  }

  .form-input {
    font-size: 15px;
    line-height: 24px;
    height: 48px;
  }

  .form-input-sm {
    display: none;
  }

  #form-details-lg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #form-heading {
    width: 35%;
  }

  #form-button {
    width: 120px;
    margin-left: 2%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 70px;
  gap: 58px;
  position: relative;
  width: 100%;
  left: 0;
}

#social-icons-footer {
  color: var(--color-primary);
  padding: 1rem;
  display: flex;
  height: 20px;
  flex: none;
  flex-grow: 0;
}

footer > h4 {
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: 400;
  flex: none;
}

.contact-bar {
  text-align: center;
}

.end-line {
  margin-top: 30px;
  margin-bottom: 2px;
}
