@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #172b4d;
  --color-secondary: #36b37e;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--color-primary);
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./media/background-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
  transition: all 0.4s;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}

@keyframes fade-open {
  from {
    transform: translateY(-800px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-links {
  display: none;
  width: 100%;
  border-radius: 0 0 30px 30px;
}

.nav-links.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #fff;
  margin-top: 0;
  padding: 20px;
  animation: fade-open 0.5s;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-link:first-child {
  margin-top: 5rem !important;
}

.nav-links.open .nav-link {
  margin: 3rem 0;
  align-items: flex-start;
  text-align: left;
  font-size: 25px;
}

#logo-placeholder {
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

#logo-placeholder > a {
  text-decoration: none;
  color: var(--color-primary);
}

.menu-button-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.menu-line {
  width: 35px;
  height: 5px;
  position: relative;
  background: var(--color-primary);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.menu-button-wrap.open .menu-line {
  transform: translateX(-40px);
  background: transparent;
}

.menu-line::before,
.menu-line::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background: var(--color-primary);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.menu-line::before {
  transform: translateY(-10px);
}

.menu-line::after {
  transform: translateY(10px);
}

.menu-button-wrap.open .menu-line::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.menu-button-wrap.open .menu-line::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

@media only screen and (min-width: 692px) {
  #nav {
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 30%;
  }

  .nav-link:first-child {
    margin-top: 0 !important;
  }

  #logo-placeholder {
    display: none;
  }

  .menu-button-wrap {
    display: none;
  }
}

@media only screen and (min-width: 1092px) {
  .nav-links {
    width: 330px;
  }

  .nav-link {
    font-size: 18px;
  }
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  width: 100%;
  left: 0;
}

#main-heading {
  width: 100%;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

#main-heading > span {
  color: var(--color-secondary);
}

#supporting-text {
  display: flex;
  width: 100%;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icon {
  list-style-type: none;
  padding: 4px;
}

#social-icons {
  padding: 1rem;
  display: flex;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#social-icons > a:hover {
  cursor: pointer;
}

#main-button {
  flex: none;
  order: 2;
  flex-grow: 0;
}

@media only screen and (min-width: 592px) {
  #supporting-text {
    width: 85%;
  }
}

@media only screen and (min-width: 792px) {
  header {
    background-image: url(./media/Header-llustration-desktop.png);
    margin-bottom: 20px;
  }

  #heading {
    padding: 100px 24px;
    gap: 5px;
  }

  #supporting-text {
    width: 75%;
  }

  #social-icons {
    padding-top: 0;
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 1092px) {
  header {
    background-image: url(./media/Header-llustration-desktop.png);
  }

  #heading {
    padding: 94px 24px;
    gap: 5px;
  }

  #main-heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  #supporting-text {
    width: 50%;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 0;
    margin: 0;
  }

  #social-icons {
    padding-top: 0;
    margin-bottom: 5%;
  }
}

main {
  background-color: #fff;
  width: 100%;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li {
  list-style-type: none;
}

#works {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  padding: 45px 24px;
}

#works-heading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5% 15%;
}

#works-heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  width: 100%;
  color: var(--color-primary);
  padding: 0 0 45px 0;
}

#indicator {
  display: inline;
  width: 64px;
  height: 4px;
  background-color: var(--color-secondary);
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.work {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.work-img-wrap {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.work-details-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  max-height: 100%;
}

.work-image {
  margin: 0;
  width: 100%;
}

.work-image:hover {
  transform: scale(1.03);
  transition: 1.2s ease-in;
}

.work-title {
  margin: 0;
  font-size: 27px;
  line-height: 39px;
  padding: 25px;
  text-align: center;
}

.work-details {
  display: none;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.work-details.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: 100vh;
  overflow: auto;
}

.details-close-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  float: right;
  right: 40px;
  top: 80px;
  padding: 10px 5px 10px;
}

.details-content-sm {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  border-radius: 16px;
}

.details-content-lg {
  display: none;
}

.details-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 3%;
  padding: 1rem;
}

.work-details-img-wrap {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.work-details-image {
  margin: 0;
  width: 98%;
}

.work-details-title {
  margin: 0;
  font-size: 28px;
  line-height: 39px;
  padding: 20px 20px 0 0;
  text-align: left;
}

.work-details-title-lg {
  width: 50%;
  margin: 0;
  font-size: 27px;
  line-height: 39px;
  padding: 20px 10px 0 0;
  text-align: left;
}

@media only screen and (min-width: 692px) {
  #works-heading-wrap {
    padding: 10% 5% 0;
  }

  #indicator {
    display: none;
  }

  #works {
    grid-template-columns: auto auto;
    grid-gap: 0 2%;
    margin: 0;
  }
}

@media only screen and (min-width: 792px) {
  .work-details {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .work-details.open {
    padding: 4rem;
  }

  .details-content-sm {
    display: none;
  }

  .details-content-lg {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    border-radius: 16px;
  }

  .details-close-button {
    padding: 15px 10px 15px;
  }
}

@media only screen and (min-width: 1092px) {
  #works {
    grid-template-columns: auto auto auto;
    padding: 45px 64px;
  }

  .work-details.open {
    padding: 4rem 16rem;
  }
}

@media only screen and (min-width: 1292px) {
  #works {
    padding: 45px 104px;
  }

  .work-details.open {
    padding: 4rem 20rem;
  }
}

@media only screen and (min-width: 1492px) {
  #works {
    padding: 45px 154px;
  }

  .work-details.open {
    padding: 2rem 25rem;
  }

  .work-details-title-lg {
    font-size: 33px;
    line-height: 44px;
  }
}

.language-tags {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.details-language-tags {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex: none;
  flex-grow: 0;
}

.work-details-info {
  display: flex;
  order: 1;
  font-size: 17px;
}

.tag {
  background: #ebf0ee;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 6px;
}

.work-link {
  border-radius: 8px;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 5%;
}

.work-link:active {
  background-color: #2d996c;
}

.work-link:focus {
  background-color: #2d996c;
}

.work-link:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.details-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
  width: 100%;
  gap: 5%;
}

.details-link {
  border-radius: 12px;
  color: #fff;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 0;
  width: 45%;
}

.details-link:active {
  background-color: #2d996c;
}

.details-link:focus {
  background-color: #2d996c;
}

.details-link:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.details-links-lg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  gap: 8%;
}

.details-link-lg {
  border-radius: 12px;
  color: #fff;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  flex-grow: 0;
  width: 50%;
  height: 3rem;
}

.details-link-lg:active {
  background-color: #2d996c;
}

.details-link-lg:focus {
  background-color: #2d996c;
}

.details-link-lg:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.details-link-icon {
  margin-left: 12px;
}

@media only screen and (min-width: 492px) {
  .tag {
    font-size: 14px;
    padding: 8px;
  }

  .details-link-lg {
    font-size: 14px;
  }

  .details-link-icon {
    margin-left: 8px;
    margin-right: 5px;
  }

  .work-details-info {
    font-size: 21px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 1092px) {
  .language-tags {
    gap: 6px;
  }

  .tag {
    font-size: 14px;
    padding: 8px;
  }

  .work-link {
    font-size: 16px;
    padding: 12px;
  }

  .details-link-lg {
    font-size: 15px;
  }

  .details-link-icon {
    margin-left: 8px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 1492px) {
  .language-tags {
    gap: 8px;
  }

  .tag {
    font-size: 16px;
    padding: 10px;
  }

  .work-link {
    font-size: 18px;
    padding: 14px;
  }

  .details-link-lg {
    font-size: 18px;
  }

  .details-link-icon {
    margin-left: 10px;
  }
}

#about-heading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  width: 100%;
  color: var(--color-primary);
}

#about {
  background-image: url(./media/about-me-desktop.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px 24px;
  gap: 10px;
  align-items: center;
}

#about-info {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#resume-link {
  border-radius: 10px;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 8%;
}

#resume-link:active {
  background-color: #2d996c;
}

#resume-link:focus {
  background-color: #2d996c;
}

#resume-link:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

@media only screen and (min-width: 692px) {
  #about-heading {
    width: 100%;
  }

  #about {
    padding: 8px 24px;
  }

  #about-info {
    width: 80%;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1092px) {
  #about-heading {
    width: 100%;
  }

  #about-info {
    width: 70%;
    font-size: 22px;
    line-height: 34px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1192px) {
  #about {
    padding: 10px 24px;
    background-size: contain;
  }

  #about-info {
    width: 70%;
    font-size: 23px;
    padding: 0;
  }

  #resume-link {
    margin: 1%;
  }
}

@media only screen and (min-width: 1292px) {
  #about {
    padding: 60px 24px;
  }
}

@media only screen and (min-width: 1492px) {
  #about {
    padding: 60px 44px;
    background-size: cover;
  }

  #about-info {
    width: 55%;
    font-size: 24px;
    padding: 0;
  }
}

#tech-stack {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3%;
  padding: 45px 16px;
}

.stack {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 4% 8% 0;
}

.tech-image {
  margin: 0;
  padding: 45px;
}

.tech-image:hover {
  transform: scale(1.1);
  transition: 1s ease-in;
}

.tech-heading {
  margin: 0;
  font-size: 33px;
  line-height: 40px;
  padding: 35px;
  text-align: center;
}

.tech-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 0;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tech {
  background: #fff;
  color: var(--color-secondary);
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px;
}

@media only screen and (min-width: 492px) {
  #tech-stack {
    margin: 3%;
  }
}

@media only screen and (min-width: 692px) {
  #tech-stack {
    padding: 45px 60px 0;
    margin: 8% 8% 0 8%;
  }
}

@media only screen and (min-width: 1092px) {
  #tech-stack {
    grid-template-columns: repeat(3, 30%);
    grid-gap: 1.5%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .tech-list {
    width: 80%;
  }

  .tech {
    font-size: 12px;
    padding: 12px;
  }

  .stack {
    height: 100%;
    padding: 8% 0 10% 0;
  }
}

@media only screen and (min-width: 1492px) {
  #tech-stack {
    padding: 45px 120px 0;
  }

  .tech {
    font-size: 14px;
    padding: 14px;
  }

  .tech-heading {
    font-size: 40px;
    line-height: 40px;
    padding: 35px;
  }
}

input,
textarea {
  font-family: inherit;
  width: 100%;
  height: 100%;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 5px;
  gap: 58px;
  position: relative;
  width: 100%;
  left: 0;
}

#form-heading {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: var(--color-primary);
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#form-details {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-details-lg {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5%;
}

.form-input,
.form-input-sm {
  font-weight: 400;
  font-size: 15px;
  height: auto;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 95%;
  margin-bottom: 1rem;
}

.form-input-lg {
  font-weight: 400;
  font-size: 15px;
  height: 48px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 45%;
  margin-bottom: 1rem;
}

.form-textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
  width: 95%;
}

textarea {
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

#form-button {
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center-;
  padding: 15px;
  gap: 10px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  width: 35%;
}

#form-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

#form-button:active {
  background-color: #2d996c;
}

#form-button:focus {
  background-color: #2d996c;
}

@media only screen and (min-width: 792px) {
  #contact-form {
    flex-direction: row;
    padding-bottom: 10%;
    background-image: url("media/form-background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-input .form-input-lg .form-textarea {
    font-size: 18px;
    height: auto;
  }

  .form-input-sm {
    display: none;
  }

  #form-details-lg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #form-heading {
    width: 35%;
  }

  #form-button {
    width: 120px;
    margin-left: 2%;
  }
}

@media only screen and (min-width: 1292px) {
  #contact-form {
    padding: 64px 64px 8%;
  }

  form {
    width: 100%;
    gap: 60px;
  }

  #form-heading {
    padding-left: 2.5rem;
  }

  #form-details {
    gap: 8%;
  }

  .form-input > input,
  .form-input-lg > input {
    font-size: 20px;
    line-height: 24px;
    height: auto;
  }

  .form-textarea > textarea {
    font-size: 20px;
  }

  #form-button {
    margin-left: 2.5%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1492px) {
  #contact-form {
    padding: 104px 120px 15%;
    background-size: cover;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 70px;
  gap: 58px;
  position: relative;
  width: 100%;
  left: 0;
}

#social-icons-footer {
  color: #505f79;
  padding: 1rem;
  display: flex;
  height: 20px;
  flex: none;
  flex-grow: 0;
}

footer > h4 {
  display: inline;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: 400;
  flex: none;
}

.contact-bar {
  text-align: center;
}

.end-line {
  margin-top: 30px;
  margin-bottom: 2px;
}

@media only screen and (min-width: 692px) {
  footer {
    border-top: 1px solid#dfe1e6;
  }

  footer > h4 {
    display: none;
  }

  .contact-bar {
    display: none;
  }
}
